<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com"
    package="com.safwan.keyboard2027">

    <uses-permission android:name="android.permission.BIND_INPUT_METHOD" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:label="Safwan Keyboard 2027"
        android:supportsRtl="true">

        <service
            android:name=".SafwanKeyboardIME"
            android:label="Safwan Keyboard 2027"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".KeyboardSettingsActivity"
            android:label="إعدادات كيبورد صفوان"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
